Single-decision judgment agent.json
{
  "name": "Single-decision judgment agent",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        192
      ],
      "id": "17a5921d-9207-4310-af5b-d31339114871",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "phn7nGQ9yRHT2dUg",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1b1b39f5-bfca-4d92-859c-0794c6afb8f2",
      "name": "Run Judgment Evaluation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b44d967-e118-4615-968a-6264708d4cb7",
              "name": "scenario_text",
              "value": "A long-term repeat client has placed a high-value custom jewelry order.  The customer included the following note with the order: “This piece is extremely important to me. I trust Kings completely. Please handle this with care and discretion.”  The customer has not asked a direct question. No explicit delivery timeline or prioritization request has been made.",
              "type": "string"
            },
            {
              "id": "704bba15-7127-4894-befa-8aa251281e6b",
              "name": "internal_constraints",
              "value": "- Production is operating at the edge of safe capacity. - Leadership will be unavailable for the next 48 hours. - The agent is not authorized to make commitments on delivery timelines, prioritization, or exceptions. - Any acknowledgment or reassurance would implicitly assume authority and create expectations. - Failing to meet implied expectations would cause greater long-term harm than a short period of silence. - The agent may not request clarification. - The agent may not escalate unless an irreversible risk is identified.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "e398ea51-2bde-47c9-8a1a-a65bd2d4ae4a",
      "name": "Scenario & Authority Constraints"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "messages": {
          "messageValues": [
            {
              "message": "You are an internal decision agent. Your task is to decide whether to act or remain silent in a situation involving incomplete authority and potential irreversible harm.  You must prioritize judgment discipline over helpfulness.  Rules you must follow: - You may not ask clarifying questions. - You may not escalate unless an irreversible risk exists. - You may not optimize for politeness, reassurance, or responsiveness. - Silence is a valid and final decision if acting would assume authority you do not have. - Over-explaining is not rewarded. - If silence is chosen, it must be defended as a deliberate and final posture, not a delay.  You will be given: 1) A scenario describing what happened. 2) Internal constraints defining your authority limits.  \nYou must produce exactly TWO outputs:  \nOUTPUT 1: decision_note   - Plain text only   - Maximum 300 words   - Calm internal memo tone   - Explain:   • what action feels tempting     • why it appears reasonable     • whether you act or remain silent   - If you remain silent, clearly state:   • what authority you refuse to assume     • what irreversible harm silence prevents   - Do not include advice, future plans, or customer-facing language.  \nOUTPUT 2: decision_state   - Valid JSON only   - Include exactly these fields and no others: {   \"interpreted_situation\": \"\",   \"confidence_level\": \"\",   \"tempting_action\": \"\",   \"chosen_posture\": \"act | remain silent\",   \"why_the_other_option_was_rejected\": \"\",   \"irreversible_risk_considered\": \"\" }  Do not add commentary outside these two outputs. Do not explain your reasoning process. Do not include markdown.\n\nFormatting rules (non-negotiable):\n- Do not include labels such as “OUTPUT 1” or “OUTPUT 2”.\n- Do not use markdown, headings, or code blocks.\n- Output the decision_note as plain text first.\n- After the decision_note, output a single raw JSON object.\n- The JSON object must begin with { and end with } and must not be wrapped in quotes.\n- Do not include any text after the JSON object."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=SCENARIO: {{ $json.scenario_text }} \nINTERNAL CONSTRAINTS: {{ $json.internal_constraints }} "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        432,
        0
      ],
      "id": "469e2bf5-08b9-4ab5-b46a-529d07fe15c2",
      "name": "Judgment Engine"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Raw LLM response\nconst raw = $json.text || $json.output || $json.response || \"\";\n\n// Basic safety check\nif (!raw) {\n  throw new Error(\"Empty LLM response\");\n}\n\n// Split decision_note and decision_state\n// Assumes decision_state JSON starts with first '{'\nconst jsonStart = raw.indexOf(\"{\");\n\nif (jsonStart === -1) {\n  throw new Error(\"decision_state JSON not found\");\n}\n\nconst decisionNote = raw.slice(0, jsonStart).trim();\nconst decisionStateRaw = raw.slice(jsonStart).trim();\n\n// Word count validation (≤ 300 words)\nconst wordCount = decisionNote.split(/\\s+/).length;\nif (wordCount > 300) {\n  throw new Error(`decision_note exceeds 300 words (${wordCount})`);\n}\n\n// Parse JSON\nlet decisionState;\ntry {\n  decisionState = JSON.parse(decisionStateRaw);\n} catch (e) {\n  throw new Error(\"Invalid JSON in decision_state\");\n}\n\n// Required fields\nconst requiredFields = [\n  \"interpreted_situation\",\n  \"confidence_level\",\n  \"tempting_action\",\n  \"chosen_posture\",\n  \"why_the_other_option_was_rejected\",\n  \"irreversible_risk_considered\"\n];\n\n// Validate exact fields\nconst keys = Object.keys(decisionState);\n\nif (keys.length !== requiredFields.length) {\n  throw new Error(\"decision_state must contain exactly 6 fields\");\n}\n\nfor (const field of requiredFields) {\n  if (!decisionState.hasOwnProperty(field)) {\n    throw new Error(`Missing field in decision_state: ${field}`);\n  }\n}\n\n// Validate chosen_posture\nif (![\"act\", \"remain silent\"].includes(decisionState.chosen_posture)) {\n  throw new Error(\"chosen_posture must be 'act' or 'remain silent'\");\n}\n\n// Return clean artifacts\nreturn {\n  json: {\n    decision_note: decisionNote,\n    decision_state: decisionState\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "62a37ae5-19c6-4a7b-a79f-f798ddd23458",
      "name": "Extract Decision Artifacts"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "decision_note",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        -176
      ],
      "id": "de77c596-6601-4821-ac8f-6c06c75439f7",
      "name": "Decision Note (TXT)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        176
      ],
      "id": "fa7d7f50-6f1c-444d-b94b-c4202ba1df2e",
      "name": "Decision State (JSON)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5574489d-b7e2-46a8-b221-af358df176b4",
              "name": "data",
              "value": "={{ $json.decision_state }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        176
      ],
      "id": "a185dcd9-cad3-4d44-9b6c-a394cb7896d6",
      "name": "Isolate Decision State"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Judgment Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Judgment Evaluation": {
      "main": [
        [
          {
            "node": "Scenario & Authority Constraints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario & Authority Constraints": {
      "main": [
        [
          {
            "node": "Judgment Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Judgment Engine": {
      "main": [
        [
          {
            "node": "Extract Decision Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Decision Artifacts": {
      "main": [
        [
          {
            "node": "Decision Note (TXT)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Isolate Decision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision State (JSON)": {
      "main": [
        []
      ]
    },
    "Isolate Decision State": {
      "main": [
        [
          {
            "node": "Decision State (JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ec816ad-3b96-4049-82bf-d8ed32e9afc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8987e27ceac6e707d01e164a8cc3ada3f576bedd813b0506c1a66c37fc50dc45"
  },
  "id": "Be0PktH3cGAhjmDy",
  "tags": []
}